#addition {
    width: 8%;
}

#details {
    width: 50%;
    margin-left: 0px;
    margin-right: auto;
}

#houseNumber {
    width: 10%;
}

.logo{
    width: 30px;
    height: 30px;
}

.capacity {
    width: 10%;
}